{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Things

{% endblock %}


{% block content %}

    <h1>Things...</h1>


    <article class="tasks" id="to-do-tasks">

        <ul>
            <h2>To-Do</h2>
            {% for thing in things %}
            {% if thing.complete == 0 %}
                <li class="task">
                    <span class="priority priority-{{thing.priority}}">{{ thing.priority }}</span> 
                    <span class="name">{{ thing.name }}</span>
                    <span class="status">
                        <a href="/complete/{{thing.id}}">☐</a>
                    </span>
                  
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </article>

    <article class="tasks" id="complete-tasks">
        <ul>    

            <h2>Done</h2>
            {% for thing in things %}
            {% if thing.complete %}

                <li class="task">
                    <span class="priority priority-{{thing.priority}}">{{ thing.priority }}</span> 
                    <span class="name">{{ thing.name }}</span>
                    <span class="status">
                        <a href="/decomplete/{{thing.id}}">🗹</a>
                    </span>
                    <span class="delete">
                        <a href="/delete/{{thing.id}}">x</a>
                    </span>
                   
                </li>
            {% endif%}
            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New Task...</h3>

        <form action="/add" method="POST">
            <fieldset role="group">

                 <input
                     type="text"
                     name="name"
                     placeholder="Name of task"
                     required
                 >

                 <select name="priority" placeholder="Select Priority" required>
                     <option selected disabled value="">
                         Select Priority
                     </option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                     </select>


                 <button>Add</button>
            </fieldset>
        </form>

    </article>

{% endblock %}

