{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Things

{% endblock %}


{% block content %}

    <h1>Things...</h1>


    <article>

        <ul>
            {% for thing in things %}

                <li>
                    <h3>{{ thing.priority }} | {{ thing.name }} | {% if thing.complete %}
                         <a href="/decomplete/{{thing.id}}">☑</a>
                    {%else%}
                         <a href="/complete/{{thing.id}}">☐</a>
                    {%endif%}</h3> 
                   
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New Task...</h3>

        <form action="/add" method="POST">
            <fieldset role="group">

                 <input
                     type="text"
                     name="name"
                     placeholder="Name of task"
                     required
                 >

                 <select name="priority" placeholder="Select Priority" required>
                     <option selected disabled value="">
                         Select Priority
                     </option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                     </select>


                 <button>Add</button>
            </fieldset>
        </form>

    </article>

{% endblock %}

