/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-ins-color); }
#messages .message.error   { color: var(--pico-del-color); }


.task  {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    line-height: 1;
}

.task .status { 
    align-self: flex-end;
 } 

 .task .status a { 
    text-decoration: none;
 } 

 .task .delete a {
    text-decoration: none;
 }

.task .name {
    color: var(--pico-primary--);
    font-size: large;
    font-weight: bold;
    
}

.task .priority-5 {
    color: var(--pico-color-red-500);
}

.task .priority-4 {
    color: var(--pico-color-orange-500);
}

.task .priority-3 {
    color: var(--pico-color-green-500);
}

.task .priority-2 {
    color: var(--pico-color-blue-500);
}

.task .priority-1 {
    color: var(--pico-color-purple-500);
}